@import "tailwindcss";

@theme {
  --color-primary: hsl(245, 58%, 51%);
  --color-primary-dark: hsl(245, 58%, 41%);
  --color-primary-light: hsl(245, 58%, 95%);
  --color-primary-50: hsl(245, 58%, 97%);
  --color-primary-100: hsl(245, 58%, 93%);
  --color-primary-200: hsl(245, 58%, 85%);
  --color-primary-300: hsl(245, 58%, 75%);
  --color-primary-400: hsl(245, 58%, 61%);
  --color-primary-500: hsl(245, 58%, 51%);
  --color-primary-600: hsl(245, 58%, 41%);
  --color-primary-700: hsl(245, 58%, 33%);
  --color-primary-800: hsl(245, 58%, 25%);
  --color-primary-900: hsl(245, 58%, 17%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
